<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey</h1>
    
    {% if logged_user %} <!-- Check if user is logged in -->
        <p>Welcome, {{ logged_user.first_name }}!</p>
        <a href="/users/logout">Logout</a>
    {% else %} <!-- User not logged in -->
        <a href="/users/login">Login</a>
    {% endif %}

</body>
</html>
